/* .portfolio {
  width: 100%;
} */

.background {
  background: #2c3e50;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rocket {
  transition: transform 20ms;
}

.rocket__trail {
  animation: rocket-trail 1000ms infinite;
}

.rocket__trail-container {
  transition: all 300ms;
  opacity: 0.3;
  transform: scale(1);
}

@keyframes rocket-trail {
  0%   {transform: scale(1);}
  50%   {transform: scale(1)translate(0px, 5px);}
}

.header {
  color: white;
  position: relative;
  width: 100%;
}

.header__content {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.footer {
  color: white;
  position: relative;
  width: 100%;
}

.footer__content {
  position: fixed;
  left: 50%;
  width: 100%;
  text-align: center;
}

.footer__heading {
  font-size: 32px;
}

.footer__email {
  font-size: 18px;
  color: white;
}

.projects {
  box-sizing: border-box;
  margin: 25% 0;
}

.project {
  color: white;
}

.project:not(:last-child) {
  margin: 0 0 25% 0;
}

.footer__social {
  margin: 40px 5px;
  font-size: 42px;
  color: white;
}